.container {
    margin: 20px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnContainer {
    display: flex;
}

.btnWrapper {
    margin-left: 40px;
}

.link {
    text-decoration: none;
}

.previousBtn {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #2F4FBB;
    border-radius: 60px;
    width: auto;
    height: 40px;
    color: #2F4FBB;
    background-color: white;
    padding: 10px 40px 10px 0px;
}

.disabledBtn {
    background: rgba(47, 79, 187, 0.4);
}

.homeBtn {
    display: flex;
    align-items: center;
    font-family: 'Plain';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border-radius: 60px;
    width: auto;
    height: 40px;
    border: 1px solid #2F4FBB;
    color: #2F4FBB;
    background-color: white;
    padding: 10px 40px 10px 0px;
}


.languageBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 60px;
    width: auto;
    height: 40px;
    border: 1px solid #2F4FBB;

    background-color: white;
    padding: 10px 40px 10px 0px;
}

.select {
    font-family: 'Plain';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #2F4FBB;
    border: none;
    outline: none;
}

.helpBtn {
    display: flex;
    align-items: center;
    font-family: 'Plain';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: help;
    border-radius: 60px;
    width: auto;
    height: 40px;
    border: 1px solid #2F4FBB;
    color: #2F4FBB;
    background-color: white;
    padding: 10px 40px 10px 0px;
}

.icon {
    margin: 10px 20px 10px 40px;
}