.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.logoContainer {
    position: relative;
    width: 300px;
    height: 200px;
}

.logo {
    width: 100%;
    height: 70%;
    fill: #000;
    /* Initial color of the icon */
    transition: fill 0.3s ease;
}

